# Entornos virtuales
.venv/

# Datos masivos
data/raw/*
!data/raw/cybersecurity_threat_detection_logs_muestra_500k.csv
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Archivos de caché de Python
__pycache__/
*.pyc